@import './../../../../scss/variables.scss';

header{
    background-color: var(--header);
    color: var(--text-menu);
    height: 80px;
    display: flex;
    align-items: center;

    nav{
        display: flex;
        align-items: center;
    }

    span{
        font-size: 23px;
        margin-left: 10px;
    }
}

img{
    width: 60px;
}

