<header>
    <nav class="container">
        <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSidebar()" type="button">
            <mat-icon> menu </mat-icon>
        </button>

        <div style="display: flex; align-items: center;">
            <img width="47px" height="50px" src="./../../../assets/icon/nav_icon.png"
                alt="Imagem de uma conta com um cifrão" />

            <span>BOLSIN</span>
        </div>
    </nav>
</header>