<header>
  <nav class="container">
    <div style="display: flex; align-items: left; justify-content: start;">
      <button mat-button class="example-icon btn btn_side_menu" aria-label="Example icon-button with menu icon"
        (click)="toggleSidebar()" type="button">
        <mat-icon> menu </mat-icon>
      </button>

      <!-- <img width="38px" height="43px" src="./../../../assets/icon/nav_icon.png"
                alt="Imagem de uma conta com um cifrão" /> -->

      <span style="align-self: center;">BOLSIN</span>
    </div>
  </nav>
  <div id="search">
    <div class="input-group flex-nowrap">
      <input type="text" class="form-control" placeholder="Filtrar" aria-label="Username" >
    </div>
  </div>

  <!-- <button style="margin-left: auto;  margin-right: 15px;" mat-button class="n btn btn_side_menu" aria-label="Sair"
    (click)="toggleSidebar()" type="button">
    <mat-icon style="width: 32px;"> logout </mat-icon>
  </button> -->

  <button style="margin-left: auto;  margin-right: 15px;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item>
      <mat-icon>call</mat-icon>
      <span>Contato</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</header>
