@import "./../../../../scss/index.scss";

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    margin-bottom: 80px;

     background-color: rgba(0, 0, 0, 0.904);
   // background-image: linear-gradient(to bottom, #4462c2, #546dcb, #6378d4, #7183de, #7f8ee7);
    color: var(--text-menu);
    height: 80px;
    display: flex;
    align-items: center;

    nav {
        width: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    span {
        font-size: 23px;
        margin-left: 10px;

        font-family: "Jacques Francois", serif;
    }
}

img {
    width: 60px;
}

.btn_side_menu {
    color: white;

    mat-icon {
        font-size: 28px;
    }
}

.btn_side_menu:hover {
    border: 1px solid white;
}

.btn_side_menu:active {
    border: 1px solid rgb(185, 181, 181);
}

.mat-icon {
    width: 28px;
    height: 28px;
}
