*{
    height: 100vh;
    border: 1px solide red;
}

mat-sidenav{
    background-color: rgb(241, 235, 235);
    color: black;
    width: 15%;
}

mat-sidenav-content{
    color: black;
    background-color: white;
}