<section id="login">

    <img id="bg-diagonal-d" src="./assets/img/bgDiagD.png" />
    <img id="bg-diagonal-e" src="./assets/img/bgDiagEsq.png" />

    <div id="login-body">
        <img id="logotipo" src="./assets/img/logoLogin.png" alt="Logotipo Carrinho" />

        <form [formGroup]="loginForm">
            <div class="input-holder">
                <img src="./assets/icon/user.png" alt="Imagem de usuario">
                <input class="email" (change)="teste()" [ngClass]="{'teste': loginForm.get('email')?.valid}" type="email" placeholder="E-MAIL" alt="E-mail do usuario" formControlName="email" />
            </div>

            <div class="input-holder">
                <img src="./assets/icon/pass.png" alt="Imagem de usuario">
                <input type="password" placeholder="SENHA" alt="Senha" formControlName="password" />
            </div>

            <button class="btn-sign-in" type="button" alt="Login" (click)="sendForm()">ENTRAR</button>
            <a href="#">
                <p>Esqueceu a senha ?</p>
            </a>
        </form>



    </div>


</section>