<div>
  <footer id="footer">

    <span class="footer-text">Made with love to my grandma s2</span>

    <span class="social">
      <a href="https://twitter.com/GustSilva_jr"><img src="./assets/icon/social_media/twitter.png" /></a>
      <a href="https://www.linkedin.com/in/gustavo-alessandro-da-silva-j%C3%BAnior-0b86b1208/"><img
          src="./assets/icon/social_media/linkedin.png" /></a>
      <a href="https://github.com/GustSilvaJR"><img src="./assets/icon/social_media/github.png" /></a>
      <a href="https://www.instagram.com/"><img src="./assets/icon/social_media/instagram.png" /></a>
    </span>

  </footer>
</div>
