<div style="
    height: 100%;;" class=" row d-flex gx-5 justify-content-center align-items-center">

    <!-- <div id="card-ganhos" class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h1 id="card-ganhos-title" class="title">Lucro Mensal</h1>
                <div class="row d-flex flex-row justify-content-around align-items-center">

                    <div id="lucro_img" class="col-md-5">
                        <img src="./assets/img/lucro.png" alt="imagem de lucro"/>
                    </div>

                    <div class="col-md-5" style="position: relative;  display: flex; justify-content: center; align-items: center;">
                        <div class="circle"></div>
                        <span style="position: absolute; margin: auto; font-size: 1.8em;">100</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="card-despesas" class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h1 id="card-despesas-title" class="title">Despesa Mensal</h1>

                <div class="text-center">
                    <div style="position: relative; display: flex; justify-content: center; align-items: center;">
                        <div class="circle desp"></div>
                        <span style="position: absolute; margin: auto; font-size: 1.8em;">100</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="card-diversos" class="col-md-10">
        <div class="card row flex-row">

            <div class="col-md-4 d-flex  justify-content-center align-items-center" >
                teste
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center" >
                teste
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center" >
                teste
            </div>

        </div>
    </div> -->

</div>
