<div style="
    height: 100%;;" class=" row d-flex gx-5 justify-content-center align-items-center">

    <div class="col-md-6" >
        <div class="card">
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
    </div>

    <div class="col-md-4"  >
        <div class="card">
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
    </div>

    <div class="col-md-10" >
        <div class="card">
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
    </div>

</div>