.movimentacoes {
    padding: 0px;

    div {
        padding: 0px;
        display: flex;
        justify-content: space-around;
    }
}

.card {
    background-color: white;
    height: 240px;
}

.card-body div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .title{
        font-size: 2em;
        //margin-right: auto;
    }
    
    #card-gastos{
        color: green;

    }

    #card-despesas{
        color:rgb(207, 30, 30);
    }

    h2{
        font-size: 2em;
    }
}

#teste{
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: -20px;
}

.demo-wrapper{
    position: relative;
}

.balanco {
    mat-card {
        background-color: white;
        border: 1px solid black;
    }
}

  
  .box {

    text-align: center;

    --border-size: 3px;
    --border-angle: 0turn;
    
    
    height: 150px;
    width: 150px;

    background-image:  conic-gradient(
        from var(--border-angle),
        white,
        white,
        white,
      ),
      conic-gradient(from var(--border-angle), transparent 0%, rgb(185, 26, 26), #f03);
    
      background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    
      background-position: center center;
    background-repeat: no-repeat;
  
    animation: bg-spin 3s linear infinite;
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
  
    &:hover {
      animation-play-state: paused;
    }
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  



/// border-gradient mixin: ///

@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  
  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
              0 -1px 0 $weight rgba($mix-sub-from, .25),
              1px 0 0 $weight rgba($mix-sub-to, .25),
              -1px 0 0 $weight  rgba($mix-sub-from, .25),
              1px -1px 0 $weight rgba($mix-main, .5),
              -1px 1px 0 $weight rgba($mix-main, .5),
              1px 1px 0 $weight rgba($to, .75),
              -1px -1px 0 $weight rgba($from, .75);
}

.circle {
  height: 150px;
  width: 150px;

  border-radius: 100%;

  &:nth-of-type(1) {
    @include border-gradient(rgb(187, 239, 191), rgb(17, 145, 40));

    animation: rotateThis 1s linear infinite;
  }

  &.desp{
    @include border-gradient(rgb(244, 190, 190), rgb(157, 17, 17));
  }
 
}

@keyframes rotateThis {
  from {
    transform: rotate(0deg) scale(1);
  }
  
  to {
    transform: rotate(360deg) scale(1);
  }
}

// @keyframes psycho {
//   0% {
//     transform: rotate(0deg) scale(1) translate(0, 0);
//   }
  
//   33% {
//     transform: rotate(360deg) scale(1) translate(5px, 5px);
//   }
  
//   66% {
//     transform: rotate(720deg) scale(1) translate(-5px, -5px);
//   }
  
//   100% {
//     transform: rotate(1080deg) scale(1) translate(0, 0);
//   }
// }





