.movimentacoes {
    padding: 0px;

    div {
        padding: 0px;
        display: flex;
        justify-content: space-around;
    }
}

.card {
    background-color: white;
    height: 240px;
}

.balanco {
    mat-card {
        background-color: white;
        border: 1px solid black;
    }
}
